<ion-header>
  <ion-toolbar color="mudotmy">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">About</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <section data-id="b10b53b" data-element_type="section">
      <div>
      <div>
      <div data-id="a3cf027" data-element_type="column">
      <div>
      <div>
      <div data-id="ccc811f" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>We provide you with high-quality professional training that gives you effective EXPERIENCES and KNOWLEDGE</h2>
      </div>
      </div>
      <div data-id="4a002c4" data-element_type="widget" data-widget_type="text-editor.default">
      <div>
      <div>
      <p><strong>MU DOT MY PLT</strong> (Multimedia and Open Source Academy) is a registered company in Malaysia since 2008. We offer high-quality practical training to government agencies, corporate clients, private sectors, individuals and also international clients (Saudi Arabia, Pakistan, Brunei, Singapore).</p>
      <p>We provide a comfortable learning space to ensure effective delivery, quality and easy interaction with the instructor so that you receive learning experiences that are fun and satisfying.</p>
      <p>&ldquo;Learn While Making&rdquo; is our main training concept which helps the participants to comprehend and memorize the knowledge more effectively so that the new skills can be more applicable at the workplace.</p>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
      <section data-id="5214ef2" data-element_type="section">
      <div>
      <div>
      <div data-id="30062b3" data-element_type="column">
      <div>
      <div>
      <div data-id="9699d2e" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>Our&nbsp;Mission</h2>
      </div>
      </div>
      <div data-id="78e085b" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>Our roadmap starts with our mission, which is enduring. It declares our purpose as a company and serves as the standard which we weigh our actions and decisions.</h2>
      </div>
      </div>
      <div data-id="db55846" data-element_type="widget" data-widget_type="icon-list.default">
      <div>
      <ul>
      <li>To empower clients with the knowledge that shapes and directs their business pathways</li>
      <li>To empower businesses with System and Development services that meet their needs</li>
      <li>To provide quality services that meet regulatory standards and improve the standard of services</li>
      <li>To ensure flexibility by delivering varying packages that meet the dynamic needs of clients</li>
      <li>Creating a learning environment that provides an innovative and exciting learning experience for all learners and staffs</li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
      <section data-id="fcb486d" data-element_type="section">
      <div>
      <div>
      <div data-id="36f59a1" data-element_type="column">
      <div>
      <div>
      <div data-id="b61186f" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>Our&nbsp;Vision</h2>
      </div>
      </div>
      <div data-id="e9b4b6d" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>To be the preferred and most trusted client -focused training provider; thus providing training and development that meets each company&rsquo;s goals and aspirations.</h2>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
      <section data-id="f5fdc7a" data-element_type="section">
      <div>
      <div>
      <div data-id="b0ba843" data-element_type="column">
      <div>
      <div>
      <div data-id="132d70a" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>Our&nbsp;Core Values</h2>
      </div>
      </div>
      <div data-id="4721c3c" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>Our core values serve as a compass for our actions and corporate behaviour.</h2>
      </div>
      </div>
      <div data-id="c2746b0" data-element_type="widget" data-widget_type="icon-list.default">
      <div>
      <ul>
      <li><strong>Customers First</strong></li>
      <li><strong>Accuracy</strong></li>
      <li><strong>Commitment</strong></li>
      <li><strong>Innovation</strong></li>
      <li><strong>Honesty</strong></li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
      <section data-id="5d3d857" data-element_type="section">
      <div>
      <div>
      <div data-id="5eb8702" data-element_type="column">
      <div>
      <div>
      <div data-id="94ad5f2" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>Company&nbsp;Registration Number</h2>
      </div>
      </div>
      <div data-id="3aca876" data-element_type="widget" data-widget_type="heading.default">
      <div>
      <h2>MU DOT MY PLT is officially registered with:</h2>
      </div>
      </div>
      <div data-id="7bd0daa" data-element_type="widget" data-widget_type="icon-list.default">
      <div>
      <ul>
      <li><strong>SSM</strong>&nbsp;: LLP0002073-LGN</li>
      <li><strong>MOF</strong>&nbsp;: 357-02240271</li>
      <li><strong>HRDF</strong>&nbsp;: LLP0002073LGN</li>
      <li><strong>SST</strong>: B16-1907-32000013</li>
      </ul>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
      <section data-id="63c74572" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div data-id="24f7f4d1" data-element_type="column">&nbsp;</div>
      </section>

  </div>
</ion-content>
