<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Training</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

<div class="ion-padding"> 
  <ion-list>

    <ion-list-header>
      <ion-label>
        New Training List
      </ion-label>
    </ion-list-header>

    <ion-item routerLink="/mobile-apps"> 
      <ion-avatar slot="start">
        <img src="assets/ionic.png">
      </ion-avatar>

      <ion-label>
        <h2>Mobile Apps</h2>
        <h3>Ionic Framework</h3>
        <p>Learn to develop mobile apps</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/data-analytics">
      <ion-avatar slot="start">
        <img src="assets/data-analytics.jpg">
      </ion-avatar>

      <ion-label>
        <h2>Data Analytics</h2>
        <h3>Using Python</h3>
        <p>Learn from industry experts</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/wordpress">
      <ion-avatar slot="start">
        <img src="assets/wordpress.jpg">
      </ion-avatar>

      <ion-label>
        <h2>WordPress</h2>
        <h3>Web Development</h3>
        <p>Learn to develop beutiful web</p>
      </ion-label>
    </ion-item>





  </ion-list>
</div>
</ion-content>
